* {
  /* border: 2px solid lightcoral; */
  block-size: fit-content;
  text-align: center;
}
body {
  background-color: #001d3d;
}

.header-container {
  display: flex;
  width: fit-content;
  background-color: #ffc300;
}
#nav-button {
  background-color:rgb(0, 172, 230);
  margin: 0 auto;
  width: 80vh;
}