/* .create-new {
  display: flex;
  align-self: center;
  font-size: 40px;
  box-sizing: border-box;
  background-color: #414585;
  border-radius: 15px;
  padding: 10px;
}

#add-button {
  color: white;
} */
/* #add-button :hover {
  color: purple;
} */