.header-container {
  display: flex;
  flex-direction: column;
  background-color: #ffc300;
  align-items: flex-start;
  text-decoration: none;
  margin: 10px;
  /* width: fit-content; */
}
.header-title{
  font-size: x-large;
  color: #001d3d;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
  .header-container {
    align-items: center;
  }
}