.header-container {
  display: flex;
  flex-direction: column;
  background-color: #343763;
  align-items: flex-start;
  text-decoration: none;
  margin: 10px;
  /* width: fit-content; */
}
.header-title{
  font-size: x-large;
  color: white;
  padding: 20px;
}
.header-title :hover {
  color: cyan;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
  .header-container {
    align-items: center;
  }
}