.header-container {
  display: flex;
  flex-direction: column;
  background-color: #414585;
  text-decoration: none;
  margin: 10px 10px 50px 10px;
  border-radius: 15px;
}
.header-title{
  font-size: xx-large;
  color: white;
  padding: 0px 40px;
  align-self: flex-start;
  font-family: 'Chango', cursive;
}
.header-title :hover {
  transform: scale(1.1);
}
.group-run-title {
  text-align: center;
}
.create-new {
  margin: 10px;
  padding: 0px 0px;
  align-self: center;
  background-color: #343763;
  width: fit-content;
  border-radius: 15px;
  font-family: 'Blinker', sans-serif;
  font-size: 30px;
}
.create-new :hover {
  transform: scale(1.2);
}
.add-run {
  margin: 10px;
}

#add-button {
  /* font-size: x-large; */
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
  .header-container {
    justify-content: center;
  }
  .header-title {
    align-self: center;
  }
}