
.home-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* Use row if I want multiple runs per line
       Will have to add a MQ  */
    /* flex-direction: row; */
    background-color: lightgreen;
}
.run-container {
  /* background-color: grey; ??? */
  background-color: rgb(0, 172, 230);
  width: 40%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: repeat(2,1fr);
  border: 2px solid lightcoral;
}

/* This is my runnerName link
Add a hover effect so people know it is a button to RunData */
.runner-link {
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.runner-link :hover {
  color: #ff7a59;
  transform: scale(1.1);
}
.rating{
  grid-column: 1;
  grid-row: 2;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
.date-logged {
  grid-column: 3;
  grid-row: 1;
  padding: 0 30px 0 0;
  width: fit-content;
  align-self: center;
  justify-self: center;
}
#delete-button {
  margin: 20px;
  grid-row: 2;
  grid-column: 3;
  width: fit-content;
  border: 0px;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  align-self: center;
  justify-self: center;
}
#delete-button :hover {
  
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
.run-container {
  width: 85%;
}
.runner-link {
  font-size: 10px;
}
}