.run-container {
  background-color: rgb(0, 172, 230);
  width: 80vh;
  margin: 20px auto;
  display: grid;
  /* grid-template-columns: repeat(4,1fr); */
  grid-template-columns: 7fr 3fr;
  grid-template-rows: repeat(2,1fr);
  border: 2px solid lightcoral;
}

/* This is my runnerName link
Add a hover effect so people know it is a button to RunData */
a {
  grid-column: 1;
  grid-row: 1;
}
.rating{
  grid-column: 1;
  grid-row: 2;
}
.date-logged {
  grid-column: 3;
  grid-row: 1;
}
#delete-button {
  margin: 20px;
  grid-row: 2;
  grid-column: 3;
  width: fit-content;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
  /* box-shadow: 3px 3px 3px grey; */
}