.form-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: rgb(0, 172, 230);
}
.form-container label {
  background-color: rgb(0, 172, 230);
}
.form-container input {
  background-color: rgb(0, 172, 230);

}
.add-run-here{
  background-color: rgb(0, 172, 230);
  grid-column: 4 / 6;
  margin: 0;
}
.edit-run-here{
  background-color: rgb(0, 172, 230);
  grid-column: 4 / 6;
  margin: 0;
}
.user{
  /* background-color: red; */
  grid-column: 4 / 5;
  margin: 2px 2.5px;
}
.date{
  /* background-color: blue; */
  grid-column: 5 / 6;
  margin: 2px 2.5px;
}
.distance {
  /* background-color: green; */
  grid-column: 4 / 6;
  margin: 5px;
}
#time {
  /* background-color: lightcoral; */
  background-color: rgb(0, 172, 230);
  grid-column: 4 / 6;
  margin: 5px;
}
.hours {
  /* background-color: orange; */
  grid-column: 3/4;
}
.minutes {
  /* background-color: purple; */
  grid-column: 4 / 6;
}
.seconds {
  /* background-color: yellow; */
  grid-column: 6 / 7;
}
.calories-burned {
  /* background-color: magenta; */
  grid-column: 4 / 6;
  margin: 5px;
}
.satisfaction-level {
  /* background-color: lightblue; */
  grid-column: 4 / 6;
  margin: 5px;
}
.additional-notes {
  /* background-color: darkgoldenrod; */
  grid-column: 4 / 6;
  margin: 5px;
}
.form-buttons {
  background-color: rgb(0, 172, 230);
  grid-column: 4 / 6;
  margin: 5px;
}
/* Input fields */
input {
background-color: white;
}
#runnerName {
  width: 125px;
  background-color:white;
}
#date {
  background-color:white;
}
#distance { 
  width: 40px;
  background-color:white;
} 
.duration {
  width: 40px;
}
#hours {
  background-color:white;
}
#minutes {
  background-color:white;
}
#seconds {
  background-color:white;
}
#caloriesBurned {
  width: 40px;
  background-color:white;

}
#satisfactionLevel {
  width: 40px;
  background-color:white;

}
#additionalNotes {
  width: 200px;
  height: 50px;
  background-color:white;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
  *{
    background-color: lightcoral;
  }
}

/* Helpful links for me! */
/* Adjust input field sizehttps://forum.squarespace.com/topic/15529-is-there-a-way-to-change-the-size-of-form-fields/ */