.form-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: #414585;
  width: 50%;
  height: 80%;
  margin: 0 auto;
  grid-gap: 10px;
  text-align: center;
  border-radius: 15px;
}
.add-run-here{
  text-align: center;
  background-color: #414585;
  grid-column: 4 / 6;
  width: 20%;
  margin: 10px auto;
  padding: 20px 0;
  border-radius: 150px;
}
.edit-run-here{
  text-align: center;
  background-color: #414585;
  grid-column: 4 / 6;
  width: 10%;
  margin: 10px auto;
  padding: 20px 0;
  border-radius: 150px;
}
.user{
  grid-column: 4 / 5;
  margin: 2px 2.5px;
}
.date{
  grid-column: 5 / 6;
  margin: 2px 2.5px;
}
.distance {
  grid-column: 4 / 6;
  margin: 5px;
}
.duration-grid {
  grid-column: 4 / 6;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
}
#time {
  grid-column: 1/4;
  grid-row: 1;
  margin: 5px;
}
.hours {
  grid-row: 2;
}
.minutes {
  grid-row: 2;
}
.seconds {
  grid-row: 2;
}
.calories-burned {
  grid-column: 4 / 6;
  margin: 5px;
}
.emojis {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-column: 5;
  grid-row: 5;
  align-self: flex-start;
  height: 48px;
  padding: 2px;
  box-sizing: border-box;
}
.satisfaction-level {
  grid-column: 4;
  margin: 5px;
  align-self: center;
}
.emojis p {
  margin: 0;
  grid-column: 5;
}
.range-bar {
  grid-column: 5;
  grid-row: 5;
  align-self: flex-end;
}
.additional-notes {
  grid-column: 4 / 6;
  margin: 5px;
}
.form-buttons {
  grid-column: 4 / 6;
  margin: 5px;
  cursor: pointer;
  color: black;
  border-radius: 10px;
}
/* Input fields */
input {
  color: black;
}
#runnerName {
  width: 125px;
}
#distance { 
  width: 30px;
} 
#hours {
  width:30px;
}
#minutes {
  width: 30px;
}
#seconds {
  width: 30px;
}
#caloriesBurned {
  width: 40px;
}
#satisfactionLevel {
  width: 40px;
}
#additionalNotes {
  width: 200px;
  height: 50px;
  color: black;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
  .form-container {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80vw;
    margin: 0 auto;
    align-items: center;
  }
  .add-run-here{
    width: 80vw;
  }
  .edit-run-here {
    width: 80vw;
  }
  .user {
    grid-column: 1/3;
    margin: 5px;
  }
  .date{
    grid-column: 1/3;
    margin: 2px 2.5px;
  }
  .distance {
    grid-column: 1/3;
    margin: 5px;
  }
  .duration-grid {
    grid-column: 1/3;
  }
  .calories-burned {
    grid-column: 1/3;
    margin: 5px;
  }
  .satisfaction-level {
    grid-column: 1/3;
    margin: 5px;
  }
  .additional-notes {
    grid-column: 1/3;
    margin: 5px;
    grid-row: 9;
  }
  .emojis {
    grid-column: 1/3;
    width: 25vh;
    justify-self: center;
    grid-row: 8;
  }
  .range-bar {
    grid-column: 1/3;
    width: 25vh;
    justify-self: center;
    grid-row: 8;
  }
  .form-buttons {
    grid-column: 1/3;
    margin: 5px;
    grid-row: 10;
  }
}

