.form-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background-color: rgb(0, 172, 230);
  width: 90vh;
  margin: 0 auto;
}
.add-run-here{
  background-color: rgb(0, 172, 230);
  grid-column: 4 / 6;
  width: 90vh;
  margin: 0 auto;
  padding: 20px 0;

}
.edit-run-here{
  background-color: rgb(0, 172, 230);
  grid-column: 4 / 6;
  width: 90vh;
  margin: 0 auto;
}
.user{
  grid-column: 4 / 5;
  margin: 2px 2.5px;
}
.date{
  grid-column: 5 / 6;
  margin: 2px 2.5px;
}
.distance {
  grid-column: 4 / 6;
  margin: 5px;
}
#time {
  grid-column: 4 / 6;
  margin: 5px;
}
.hours {
  grid-column: 3/4;
}
.minutes {
  grid-column: 4 / 6;
}
.seconds {
  grid-column: 6 / 7;
}
.calories-burned {
  grid-column: 4 / 6;
  margin: 5px;
}
.satisfaction-level {
  grid-column: 4 / 6;
  margin: 5px;
}
.additional-notes {
  grid-column: 4 / 6;
  margin: 5px;
}
.form-buttons {
  grid-column: 4 / 6;
  margin: 5px;
  cursor: pointer;
}
/* Input fields */
input {
background-color: white;
}
#runnerName {
  width: 125px;
  background-color:white;
}
#date {
  background-color:white;
}
#distance { 
  width: 40px;
  background-color:white;
} 
.duration {
  width: 40px;
}
#hours {
  background-color:white;
}
#minutes {
  background-color:white;
}
#seconds {
  background-color:white;
}
#caloriesBurned {
  width: 40px;
  background-color:white;

}
#satisfactionLevel {
  width: 40px;
  background-color:white;

}
#additionalNotes {
  width: 200px;
  height: 50px;
  background-color:white;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
  .form-container {
    display: flex;
    flex-direction: column;
    /* display: grid; */
    grid-template-columns: 3fr 7fr;
    background-color: rgb(0, 172, 230);
    width: 50vh;
    margin: 0 auto;
    align-items: center;
  }
  .add-run-here{
    grid-column: 4 / 6;
    display: flex;
    justify-content: center;
    width: 50vh;
    margin: 0 auto;
    padding: 20px 0;
  }
  .user {
    margin: 5px;

  }
  .date{
    margin: 2px 2.5px;
  }
  .distance {
    margin: 5px;
  }
  #time {
    margin: 5px;
  }
  .hours {
    margin: 5px;
  }
  .minutes {
    margin: 5px;
  }
  .seconds {
    margin: 5px;
  }
  .calories-burned {
    margin: 5px;
  }
  .satisfaction-level {
    margin: 5px;
  }
  .additional-notes {
    margin: 5px;
  }
  .form-buttons {
    margin: 5px;
    cursor: pointer;
  }

}

