.run-card {
  background-color:rgb(0, 172, 230);
  /* What the hell is this and why does it work perfectly */
  /* this is not a good solution with position: fixed. */
  /* https://stackoverflow.com/questions/48278748/center-a-div-using-javascript */
  /* position: fixed;
  left: 50%;  
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 50vh;
  margin: 0 auto;
}
/* On this page I'd like to use grid to put the "date:, distance: time:, etc all the way to the left
and have the actual user info center-right*/
h3, h4 {
  /* background-color: rgb(0, 172, 230); */
}
/* WHY ARE MY BUTTONS NOT GETTING THE BACKGROUND COLOR FOR THE RUN-CARD*/ 
.run-card-buttons {
  /* background-color: rgb(0, 172, 230); */
  margin: 5px;
}