.run-card {
  background-color:rgb(0, 172, 230);
  width: 80vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 7r;
  /* grid-template-rows: repeat(8, 1fr); */
}
.run-card p, .run-card label {
  margin: 4px;

}
.run-card button {
  margin: 5px;
}
/* On this page I'd like to use grid to put the "date:, distance: time:, etc all the way to the left
and have the actual user info center-right*/
.run-card label {
  grid-column: 1;
}
.run-card p {
  grid-column: 2;
}
.name-entry {
  grid-column: 2;
  grid-row: 1;
}
.date-entry{
  grid-column: 2;
  grid-row: 2;
}
.distance-entry{
  grid-column: 2;
  grid-row: 3;
}
.time-entry{
  grid-column: 2;
  grid-row: 4;
}
.calories-entry{
  grid-column: 2;
  grid-row: 5;
}
.difficulty-entry{
  grid-column: 2;
  grid-row: 6;
}
.comments-entry{
  grid-column: 2;
  grid-row: 7;
}
.home-button{
  grid-column: 1;
  grid-row: 8;
  border: 0px;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
}
.edit-button{
  grid-column: 2;
  grid-row: 8;
  border: 0px;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
}