.run-card {
  background-color: #414585;
  width: 40%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 7fr;
  justify-items: start;
  border-radius: 15px;
  font-family: 'Blinker', sans-serif;
  font-size: 25px;
}
.run-card p, .run-card label {
  margin: 4px;
}
.run-card button {
  margin: 5px;
}
.run-card label {
  grid-column: 2;
  justify-self: flex-start;
  padding: 15px;
}
.run-card p {
  color: #25e917;
  grid-column: 4;
  align-self: center;
  justify-self: start;
}
.name-entry {
  grid-row: 1;
}
.date-entry{
  grid-row: 2;
}
.distance-entry{
  grid-row: 3;
}
.time-entry{
  grid-row: 4;
}
.calories-entry{
  grid-row: 5;
}
.difficulty-entry{
  grid-row: 6;
}
.comments-entry{
  justify-self: start;
  grid-row: 7;
}
.home-button{
  grid-column: 2;
  grid-row: 8;
  border: 0px;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  justify-self: center;
}
.edit-button{
  grid-column: 4;
  grid-row: 8;
  border: 0px;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  justify-self: center;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) { 
  .run-card {
    width: 85%;
    justify-items: center;
  }
  .run-card p {
    justify-self: center;;
  }
  .home-button {
    font-size: 30px;
    justify-self: center;
  }
  .edit-button {
    font-size: 30px;
    justify-self: center;
  }

}